@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Julius+Sans+One&display=swap');


header {
    display: grid;
    grid-template-columns: 150px auto;
    font-family: 'Julius Sans One', sans-serif;
    align-items: center;
    justify-items: center;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

#me {
    width: 150px;
    border-radius: 150px;
    padding: 10px;
    margin-left: 20px;
}

#mode {
    position: absolute;
    top: .9rem;
    right: 4rem;
    font-size: 50px;
    cursor: pointer;
}

main {
    margin: 0 auto;
}

nav {
    margin: 0 auto;
    justify-content:space-evenly;
}

nav a:hover {
    text-decoration: underline;
    background-color: navy;
    color: white;
}

#menu {
    font-size: 1.5rem;
    border: 1px solid;
    position: absolute;
    padding: 10px;
    top: 1rem;
    right: 1rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    display: block;
    text-align: center;
    padding: 1rem;
    font-family: 'Julius Sans One', sans-serif;
    color: black;
    text-decoration: none;
    width: 100%;
}

.navigation {
    display: flex;
    flex-direction: column;
    
}

.navigation li {
    display: none;
}

.navigation li:hover {
    text-decoration: underline;
    color: white;
    background-color: navy;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖";
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

.active::before {
	content: "📍 ";
}

.active {
	background-color: blue;
}

h2 {
    font-family: 'Julius Sans One', sans-serif;
    color: navy;
    text-align: left;
    padding: 20px;
    margin: 0 auto;
}

.card {
    border-style: solid;
    border-color: navy;
    border-width: 3px;
    border-radius: 15px;
    margin-left: 4em;
    margin-right: 4rem;
    margin-top: 15px;
    margin-bottom: 30px;
}

.card h3 {
    background-color: navy;
    color: white;
    margin-top: 0px;
    padding: 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: 'Julius Sans One', sans-serif;
}

main {
    max-width: 1200px;
}

main ul {
    list-style-type: none;
}

main ul li {
    padding: 10px;
}

main ul li a{
    text-decoration: none;
    color: black;
    
}

main ul li a:hover {
    color: navy;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    margin: 0;
    padding: 50px;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}