@media screen and (min-width: 750px) {
    nav ul {
        display: flex;
        justify-content: space-around;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    .navigation {
        display: flex;
        flex-direction: row;
    }
    
    .navigation li {
        display: flex;
        justify-content: space-evenly;
    }

    footer {
        display: flex;
        justify-content: space-around;
        background-color: black;
        color: white;
        font-family: 'Julius Sans One', sans-serif;
        margin: 0;
        padding: 50px;
        justify-items: center;
        align-items: center;
        flex-direction: row;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 50px 1fr;
    }

    main h2 {
        grid-row: 1;
    }

    .card {
        grid-row: 2;
        margin-left: 10px;
        margin-top: 20px;
    }

    #menu {
        display: none;
    }

    #hero {
        display: block;
        max-width: 1200px;
        position: relative;
    }
    
    #hero img {
        width: 100%;
    }
    
    .herolabel {
        position: absolute;
        top: 50px;
        left: 50px;
        background: radial-gradient(#fff, #68926f);
        border: 1px solid;
        padding: 1.5rem;
        opacity: 0.70;
    }
    
    .herolabel p {
        margin: 0;
        padding: .25rem;
        font-weight: 700;
        font-size: 2rem;
        font-family: "Great Vibes", serif;
    }

}